@charset "utf-8";
body {
	font-family: Open Sans Condensed;
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
}

#contenedor {
	margin: auto;
	margin-top:10%;
	padding: 4px;
	height: 400px;
	width: 400px;
	border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -ms-border-radius: 10px;
   -khtml-border-radius:10px;
   -o-border-radius: 10px;

}
.degrade{
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.65) 65%, rgba(0,0,0,0.65) 78%, rgba(0,0,0,0.65) 92%, rgba(0,0,0,0.65) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.65) 65%,rgba(0,0,0,0.65) 78%,rgba(0,0,0,0.65) 92%,rgba(0,0,0,0.65) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(0,0,0,0.65) 65%,rgba(0,0,0,0.65) 78%,rgba(0,0,0,0.65) 92%,rgba(0,0,0,0.65) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	 border-radius: 10px;
	 
	}
#logo {
	height: 100px;
	width: 300px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
